body {
  margin: 0 0;
  background-image: url("images/background.jpg");
  font-size: 120%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

h1 {
  margin-bottom: 10px;
}

header nav {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 5px;
}

header nav ul li a {
  text-decoration: none;
  margin: 0 10px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

.intro,
.about,
.projects,
.contact {
  width: 75%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.projects .item {
  border-style: solid;
  border-width: 1px;
  padding: 10px 10px 0 10px;
  margin: 10px 0;
}

#about,
#contact {
  background-color: rgb(202, 201, 201);
  padding: 1px 0 20px 0;
}

img {
  width: 100%;
}

.projects img {
  height: 320px;
  object-fit: cover;
}

#about h3,
#projects h3 {
  text-align: center;
}

#about p {
  margin-top: 0;
}

input,
textarea {
  width: 100%;
}

textarea {
  height: 120px;
}

button {
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

footer p {
  margin-bottom: 0;
  padding: 10px 0;
}

a {
  color: black;
}

@media all and (min-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  .intro,
  .about,
  .projects,
  .contact {
    flex-direction: row;
    justify-content: space-between;
  }

  .projects {
    flex-wrap: wrap;
    margin: auto;
  }

  .projects img {
    width: 95%;
  }

  .projects .item {
    margin-left: 75px;
  }

  .projects h4,
  .projects p {
    margin-left: 15px;
  }

  .item {
    flex: 1;
  }

  img {
    width: 50%;
    margin: 10px 10px;
  }

  .about img {
    margin: 0 10px;
    width: 25%;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .contact .item:first-child {
    margin: 0 50px 0 85px;
  }

  input,
  textarea {
    width: 75%;
  }

  a:hover {
    color: rgb(105, 104, 104);
  }
}